<div class="portfolio_container">
  <canvas></canvas>

  <div class="about_me">
    <div class="head">
      <p>(Draw some birds in the cloud)</p>
      <h1>Hello, my name is Joshua Lee</h1>
    </div>
    <div class="picture">
      <%= image_tag('picture.jpeg') %>
    </div>
    <div class="body">
      <p>A full stack web developer</p>
    </div>
  </div>

  <div class="projects">
    <div class="project_head">
      <h1>Projects</h1>
    </div>
    <ul>
      <li><p>Faven</p></li>
    </ul>
  </div>

  <div class="contact_me">
    <div class="contact_head">
      <h1>Contact Me</h1>
    </div>
    <ul>
      <li><p>Email: jsungholee@gmail.com</p></li>
      <li><p>Github: <a href="https://github.com/jsungholee">https://github.com/jsungholee</a></p></li>
      <li><p>Linkedin: <a href="http://www.linkedin.com/in/jsungholee">http://www.linkedin.com/in/jsungholee</a></p></li>
    </ul>
  </div>
</div>
