<div class="portfolio_container">
  <canvas id="top_canvas"></canvas>

  <div class="projects">
    <h1>Projects</h1>
    <ul>
      <li>
        <p class="proj_title">Faven</p><a href="http://faven.herokuapp.com" alt="faven"><%= image_tag('faven.png') %></a>
      </li>
    </ul>
  </div>

  <div class="contact_me">
    <div class="contact_head">
      <h1>Contact Me</h1>
    </div>
    <ul>
      <li><p>Email: jsungholee@gmail.com</p></li>
      <li><p>Github: <a href="https://github.com/jsungholee">https://github.com/jsungholee</a></p></li>
      <li><p>Linkedin: <a href="http://www.linkedin.com/in/jsungholee">http://www.linkedin.com/in/jsungholee</a></p></li>
      <li>(click below to create a flower)</li>
    </ul>
  </div>
  <canvas id="bot_canvas"></canvas>
</div>
