.account_container
  .header
    .personal_info
      .picture= image_tag('picture.jpeg')
      %h1.name Joshua Lee
      %nav
        %a.nav_link.button{:href => "https://www.github.com/jsungholee"} Github
        %a.nav_link.button{:href => "http://www.linkedin.com/in/jsungholee"} Linkedin

  .content_wrapper
    .info_wrapper
      .info
        %h1.carolina_blue University of North Carolina at Chapel Hill
        %h3 Bachelor of Science

      .info
        %h1.dark_blue Contact:
        %h3 (704) 247-7640
        %h3 jsungholee@gmail.com
        %h3 Boston, MA

      .info
        %h1.light_blue Skills:
        %ul
          %li.bullet_point Ruby on Rails
          %li.bullet_point Ruby
          %li.bullet_point CSS3
          %li.bullet_point HTML5
          %li.bullet_point SQL
          %li.bullet_point Test Driven Development
          %li.bullet_point Javascript
          %li.bullet_point jQuery
          %li.bullet_point Git
          %li.bullet_point Heroku

    .experience_container
      .experience
        %h1.dark_blue Experiences:
        %h2.light_blue Launch Academy
        %h3 Software Developer in Training, 05/2013 ­- 07/2013
        %p Launch Academy is a 10­week, immersive bootcamp taking eager learners with little to no experience and teaching them what it takes to add value as a junior contributor to a software engineering team.

        %h2.light_blue Office of Arts and Sciences Information Services
        %h3 IT Support, 08/2011 ­- 05/2012
        %p Technical support for the faculty and staff at University of North Carolina at Chapel Hill

      .experience
        %h1.dark_blue Projects:
        %a.faven{:href => "http://faven.herokuapp.com"} Faven
        %p Website that keeps track of a user's favorite lists. Great ice breaker tool to quickly find mutual interests with other users.
        %ul
          %li.bullet_point Created through Test Driven Development with Ruby on Rails
          %li.bullet_point Interacted with Postgresql through Active Record
          %li.bullet_point Deployed through Heroku
