@import compass/reset

.portfolio_container
  width: 1200px
  margin: 0 auto
  background-color: grey
  text-align: center

body
  background-image: url("/app/assets/images/pattern8-pattern-15a.png")

h1
  font-size: 3em

p
  font-size: 2em
