@import compass/reset
@import compass

.portfolio_container
  width: 1200px
  margin: 0 auto
  text-align: center
  +background-image(linear-gradient(#00E5FF, #FFF, #02E830))

body
  background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSN0mb_A9DWctOTHdQF66I2C1_Qsw5QFplT9GqCVBfG4XBlTK9J")

h1
  font-size: 3em

p
  font-size: 2em
